<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1><%= profile.name %>'s indy dreambox</h1>
  <% if (isSelf)  {%> 
    <h2>Add a Dream Issue</h2>
    <form action="/profiles/<%= profile._id %>/dreamIssues" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        Issue: 
        <input type="number" name="issue" autocomplete="off">
      </label>
      <label>
        Publisher: 
        <input type="text" name="publisher" autocomplete="off">
      </label>
      <button type="submit">Add Comic</button>
    </form>
  <% } %>
  <% if (profile.dreamIssues.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> Dream Issues.
    </h2>
    <% profile.dreamIssues.forEach(dreamIssue => { %>
      <h3>
        <%= dreamIssue.title %> issue number <%= dreamIssue.issue %> was published by <%= dreamIssue.publisher %>
        <form 
        action="/profiles/dreamIssues/<%= dreamIssue._id %>?_method=DELETE" 
        method="POST"
        style="display: inline-block;"
      >
        <button type="submit">Give up <%= dreamIssue.title %></button>
      </form>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any Dream Issues.
    </h2> 
  <% } %> 
</main>

<%- include('../partials/footer') %>