<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1><%= profile.name %>'s Indie Wishlist</h1>
  <% if (isSelf)  {%> 
    <h2>Add an indie title to your wishlist</h2>
    <form action="/profiles/<%= profile._id %>/dreamIssues" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        Writer: 
        <input type="text" name="writer" autocomplete="off">
      </label>
      <label>
      <label>
        Penciler: 
          <input type="text" name="penciler" autocomplete="off">
        </label>
        <label>
        Issue: 
        <input type="number" name="issue" autocomplete="off">
      </label>
      <label>
        Publisher: 
        <input type="text" name="publisher" autocomplete="off">
      </label>
      <button type="submit">Add Comic</button>
    </form>
  <% } %>
  <% if (profile.dreamIssues.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> dream issues to add to your collection
    </h2>
    <% profile.dreamIssues.forEach(dreamIssue => { %>
      <h3>
        Written by <%= dreamIssue.writer %> and drawn by <%= dreamIssue.penciler %>, <%= dreamIssue.title %> Issue No. <%= dreamIssue.issue %> was published by <%= dreamIssue.publisher %>
        <form 
        action="/profiles/dreamIssues/<%= dreamIssue._id %>?_method=DELETE" 
        method="POST"
        style="display: inline-block;"
      >
        <button type="submit">Give up on finding <%= dreamIssue.title %></button>
      </form>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any comics on your wishlist
    </h2> 
  <% } %> 
</section>
</main>

<%- include('../partials/footer') %>