<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit comic</h1>
  <form action="/issues/<%= issue._id %>?_method=PUT" method="POST">
    <label>
      Title: 
      <input 
        type="text"
        name="title" 
        value="<%= issue.title %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Writer: 
      <input 
        type="text"
        name="writer" 
        value="<%= issue.writer %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Penciler: 
      <input 
        type="text"
        name="penciler" 
        value="<%= issue.penciler %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Publisher: 
      <input 
        type="text"
        name="publisher" 
        value="<%= issue.publisher %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Still In Print?
      <input 
        type="checkbox" 
        name="stillInPrint" 
				<%= issue.stillInPrint ? "checked" : "" %> 
      >
    </label>
    <button class="btn btn-dark" type="submit">Edit comic</button>
  </form>
</section>

<%- include('../partials/footer') %>