<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Issues</h1>
  <% if (user) { %>
    <h2>Add an issue</h2>
    <form action="/issues" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        In Print?
        <input type="checkbox" name="stillInPrint">
      </label>
      <button type="submit">Add Comic</button>
    </form>
  <% } %>
  <h2>Owned Issues</h2>
	<ul>
  <% issues.forEach(issue => { %>
    <li>
      <a href="/issues/<%= issue._id %>"><%= issue.title %></a> is <%= issue.stillInPrint ? 'still in print' : 'not currently in print' %>
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>