<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Series</h1>
  <% if (user) { %>
    <h2>Add a series</h2>
    <form action="/issues" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        Writer: 
        <input type="text" name="writer" autocomplete="off">
      </label>
      <label>
        Penciler: 
        <input type="text" name="penciler" autocomplete="off">
      </label>
      <label>
        Publisher: 
        <input type="text" name="publisher" autocomplete="off">
      </label>
      <label>
        In Print?
        <input type="checkbox" name="stillInPrint">
      </label>
      <button class="btn btn-dark" type="submit">Add Series</button>
    </form>
  <% } %>
  <h2>Series Titles</h2>
	<ul>
  <% issues.forEach(issue => { %>
    <li>
      <a href="/issues/<%= issue._id %>"><%= issue.title %></a> is <%= issue.stillInPrint ? 'still in print' : 'not currently in print' %>
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>