<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the collection of <%= issue.collector.name %></p>
  <h1><%= issue.title %></h1>
  <h2>Published by <%= issue.publisher %></h2>
  <h3>Written by <%= issue.writer %></h3>
  <h3>Penciled by <%= issue.penciler %> </h3>
  <p>This comic is <%= issue.stillInPrint ? 'currently in print' : 'no longer in print' %></p>
  <% if (user) { %>
    <form 
      action="/issues/<%= issue._id %>/flip-print?_method=PATCH" 
      method="POST"
    >
      <button class="btn btn-dark" class="btn" type="submit">
        Change Comic to <%= issue.stillInPrint ? 'Not Publishing' : 'Publishing' %>
      </button>
    </form>
  <% } %>
  <% if (issue.collector.equals(user?.profile._id)) { %>
    <form action="/issues/<%= issue._id %>/edit" method="GET">
      <button class="btn btn-dark" class="btn" type="submit">Edit Comic</button>
    </form>
    <form action="/issues/<%= issue._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark" class="btn" type="submit">Delete Comic</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>