<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the collection of <%= issue.collector.name %></p>
  <h1><%= issue.title %></h1>
  <h2>This comic is <%= issue.stillInPrint ? 'still printing' : 'no longer in print' %></h2>
  <% if (user) { %>
    <form 
      action="/issues/<%= issue._id %>/flip-print?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
        Change issue to <%= issue.stillInPrint ? 'not puplishing' : 'publishing' %>
      </button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>